* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
}

window#waybar {
    background: #1e1e2e;
    color: #cdd6f4;
}

#workspaces button {
    padding: 0 8px;
}

#workspaces button.focused {
    background: #89b4fa;
    color: #1e1e2e;
}

#battery.charging {
    color: #a6e3a1;
}

